/*All colors that are used*/
$mainColor:#E5E5E5;
$accentGradientColor:linear-gradient(90deg, #245652 -50.88%, #489B94 93.33%);
$mainTextColor:rgba(0, 0, 0, 1);
$infoCardsColor:rgba(196, 196, 196, 0.5);
$infoCardsBorderColor:#929292;