/*Main colors*/
$mainColor:#E5E5E5;
$accentGradientColor:linear-gradient(90deg, #245652 -50.88%, #489B94 93.33%);
$mainTextColor:rgba(0, 0, 0, 1);

/*Cards colors*/
$infoCardsColor:rgba(196, 196, 196, 0.5);
$infoCardsBorderColor:#929292;

/*Card designs*/
$lineGradient:linear-gradient(90deg, #245652 0%, rgba(36, 86, 82, 0.73) 0.01%, #52B197 30.19%);

/*Footer*/
$lineColor:#A3A3A3;