/*All font sizes that are used*/
$miniFontSize:24;
$smallFontSize:27;
$normalFontSize:32;
$smallTitleFontSize:64;
$bigTitleFontSize:128;

/*Letter spacing*/
$normalLetterSpacing:0.27em;
$smallLetterSpacing:0.09em;

/*Font family*/
$specialFont: 'OmegaCentauri';

/*1920px to 1200px*/
$miniFontSize1200:20;
$smallFontSize1200:23;
$normalFontSize1200:28;
$smallTitleFontSize1200:60;
$bigTitleFontSize1200:124;

/*1200px to 993px*/
$miniFontSize993:15;
$smallFontSize993:18;
$normalFontSize993:24;
$smallTitleFontSize993:50;
$bigTitleFontSize993:110;

$normalLetterSpacing1200:0.23em;
$smallLetterSpacing1200:0.08em;