/*All font sizes that are used*/
$miniFontSize:24;
$smallFontSize:27;
$normalFontSize:32;
$smallTitleFontSize:64;
$bigTitleFontSize:128;

/*Letter spacing*/
$normalLetterSpacing:0.27em;
$smallLetterSpacing:0.09em;

/*Font family*/
$specialFont: 'OmegaCentauri';