/*All font sizes that are used*/
$smallestFontSize:24;
$smallFontSize:27;
$normalFontSize:32;
$smallTitleFontSize:64;
$bigTitleFontSize:128;

/*Letter spacing*/
$normalLetterSpacing:0.2em;

/*Font family*/
$specialFont: 'OmegaCentauri';