@use '../base/baseForward' as *;
@use '../utilities/_utilForward.scss' as *;

/*Stats section*/
.stats-card{
    @include flex(column, space-evenly, center);
    width: 313px;
    height: 313px;
    background-color: $infoCardsColor;
    border-style: solid;
    border-color: $infoCardsBorderColor;
    border-width:2px;
    border-radius: 20px;
}
.stats-card__title{
    font-size: rem($smallTitleFontSize);
    letter-spacing: $normalLetterSpacing;
    line-height: 0.5;
}
.stats-card__text{
    font-size: rem($smallFontSize - 4);
    width:290px;
    letter-spacing: $normalLetterSpacing;
    text-align: center;
    line-height: 1.3;
}
.stats-card--down{
    margin-top:100px;
}
.stats-card--up{
    margin-bottom:100px;
}

/*Packs section*/
.packs-card{
    @include flex(row, space-around, center);
    width: 1291px;
    height: 596px;
    background-color: $infoCardsColor;
    background: rgba(196, 196, 196, 0.5);
    border-style:  solid;
    border-width: 1px;
    border-color: $infoCardsBorderColor;
    border-radius: 20px;
}
.packs-card__text-wrapper{
    @include flex(column, flex-start, flex-start);
    padding-top: 45px;
    padding-bottom: 45px;
    width:60%;
    height:100%;
}
.packs-card__top-text{
    font-size: rem($miniFontSize);
    letter-spacing: $normalLetterSpacing - 0.09;
}
.packs-card__heading{
    font-size: rem($normalFontSize + 8);
    letter-spacing: $normalLetterSpacing - 0.08;
    line-height: 2.4em;
}
.packs-card__text{
    padding-top: 30px;
    font-size: rem($miniFontSize);
    letter-spacing: $normalLetterSpacing - 0.09;
    width: 538px;
    line-height: 204.84%;
}

.drawing-img-card{
    position: relative;
    width: 350px;
    height: 506.37px; 
    border: 2px solid #A4A4A4;
    border-radius: 21px;
}
.drawing-img-card:after{
    content: '';
    width:100%;
    height: 100%;
    z-index: 100;
    position: absolute;
    top:0;
    left:0;
    background: linear-gradient(153.24deg, rgba(64, 140, 134, 0.609) 2.29%, rgba(49, 111, 106, 0.28) 99%);
    border: 2px solid #A4A4A4;
    border-radius: 21px;
}

/*Responsive to 1200px*/
@media  only screen and (max-width:1700px){
    /*Stats section*/
    .stats-card{
        @include flex(column, space-evenly, center);
        width: 280px;
        height: 280px;
        background-color: $infoCardsColor;
        border-style: solid;
        border-color: $infoCardsBorderColor;
        border-width:2px;
        border-radius: 20px;
    }
    .stats-card__title{
        font-size: rem($smallTitleFontSize1200);
        letter-spacing: $normalLetterSpacing1200;
        line-height: 0.5;
    }
    .stats-card__text{
        font-size: rem($smallFontSize - 6);
        width:260px;
        letter-spacing: $normalLetterSpacing;
        text-align: center;
        line-height: 1.3;
    }
    .stats-card--down{
        margin-top:80px;
    }
    .stats-card--up{
        margin-bottom:80px;
    }
}
@media  only screen and (max-width:1470px){
    /*Stats section*/
    .stats-card{
        @include flex(column, space-evenly, center);
        width: 250px;
        height: 250px;
        background-color: $infoCardsColor;
        border-style: solid;
        border-color: $infoCardsBorderColor;
        border-width:2px;
        border-radius: 20px;
    }
    .stats-card__title{
        font-size: rem($smallTitleFontSize1200 - 2);
        letter-spacing: $normalLetterSpacing1200;
        line-height: 0.5;
    }
    .stats-card__text{
        font-size: rem($smallFontSize - 8);
        width:240px;
        letter-spacing: $normalLetterSpacing;
        text-align: center;
        line-height: 1.3;
    }
    .stats-card--down{
        margin-top:60px;
    }
    .stats-card--up{
        margin-bottom:60px;
    }

    /*Packs section*/
    .packs-card{
        @include flex(row, space-around, center);
        width: 1101px;
        height: 556px;
        background-color: $infoCardsColor;
        background: rgba(196, 196, 196, 0.5);
        border-style:  solid;
        border-width: 1px;
        border-color: $infoCardsBorderColor;
        border-radius: 20px;
    }
    .packs-card__text-wrapper{
        @include flex(column, flex-start, flex-start);
        padding-top: 45px;
        padding-bottom: 45px;
        width:60%;
        height:100%;
    }
}
@media  only screen and (max-width:1340px){
    /*Stats section*/
    .stats-card{
        @include flex(column, space-evenly, center);
        width: 230px;
        height: 230px;
        background-color: $infoCardsColor;
        border-style: solid;
        border-color: $infoCardsBorderColor;
        border-width:2px;
        border-radius: 20px;
    }
    .stats-card__title{
        font-size: rem($smallTitleFontSize1200 - 4);
        letter-spacing: $normalLetterSpacing1200;
        line-height: 0.5;
    }
    .stats-card__text{
        font-size: rem($smallFontSize - 10);
        width:210px;
        letter-spacing: $normalLetterSpacing;
        text-align: center;
        line-height: 1.3;
    }
    .stats-card--down{
        margin-top:60px;
    }
    .stats-card--up{
        margin-bottom:60px;
    }
}

//Responsive from 1200px to 993px
@media  only screen and (max-width:1200px){
    .stats-card{
        @include flex(column, space-evenly, center);
        width: 200px;
        height: 200px;
        background-color: $infoCardsColor;
        border-style: solid;
        border-color: $infoCardsBorderColor;
        border-width:2px;
        border-radius: 20px;
    }
    .stats-card__title{
        font-size: rem($smallTitleFontSize993 - 4);
        letter-spacing: $normalLetterSpacing1200;
        line-height: 0.5;
    }
    .stats-card__text{
        font-size: rem($smallFontSize993 - 1);
        width:90%;
        letter-spacing: $normalLetterSpacing;
        text-align: center;
        line-height: 1.3;
    }
    .stats-card--down{
        margin-top:60px;
    }
    .stats-card--up{
        margin-bottom:60px;
    }

    .packs-card{
        @include flex(row, space-around, center);
        width: 850px;
        height: 470px;
        background-color: $infoCardsColor;
        background: rgba(196, 196, 196, 0.5);
        border-style:  solid;
        border-width: 1px;
        border-color: $infoCardsBorderColor;
        border-radius: 20px;
        margin-top: -200px;
    }
    .packs-card__text-wrapper{
        @include flex(column, flex-start, flex-start);
        padding-top: 45px;
        padding-bottom: 45px;
        width:60%;
        height:100%;
    }
    .packs-card__top-text{
        font-size: rem($miniFontSize993);
        letter-spacing: $normalLetterSpacing ;
       
    }
    .packs-card__heading{
        font-size: rem($normalFontSize993 + 8);
        letter-spacing: $normalLetterSpacing - 0.08;
        line-height: 2.4em;
    }
    .packs-card__text{
        padding-top: 30px;
        font-size: rem($miniFontSize993 + 3);
        letter-spacing: $normalLetterSpacing ;
        width:400px;
        line-height: 204.84%;
    }

    .drawing-img-card{
        position: relative;
        width: 280px;
        height: 390px; 
        border: 2px solid #A4A4A4;
        border-radius: 21px;

            img{
                width:100%;
                height:100%;
            }
    }
    .drawing-img-card:after{
        content: '';
        width:100%;
        height: 390px; 
        z-index: 100;
        position: absolute;
        top:0;
        left:0;
        background: linear-gradient(153.24deg, rgba(64, 140, 134, 0.609) 2.29%, rgba(49, 111, 106, 0.28) 99%);
        border: 2px solid #A4A4A4;
        border-radius: 21px;
    }
}

//Responsive from 992px to 768px
@media  only screen and (max-width:900px){
    .packs-card{
        @include flex(row, space-around, center);
        width: 750px;
        height: 470px;
        background-color: $infoCardsColor;
        background: rgba(196, 196, 196, 0.5);
        border-style:  solid;
        border-width: 1px;
        border-color: $infoCardsBorderColor;
        border-radius: 20px;
        margin-top: -200px;
    }
    .packs-card__text-wrapper{
        @include flex(column, flex-start, flex-start);
        padding-top: 45px;
        padding-bottom: 45px;
        width:60%;
        height:100%;
    }
    .packs-card__top-text{
        font-size: rem($miniFontSize993);
        letter-spacing: $normalLetterSpacing ;
       
    }
    .packs-card__heading{
        font-size: rem($normalFontSize993 + 2);
        letter-spacing: $normalLetterSpacing - 0.08;
        line-height: 2.4em;
    }
    .packs-card__text{
        padding-top: 30px;
        font-size: rem($miniFontSize993 + 3);
        letter-spacing: $normalLetterSpacing ;
        width:400px;
        line-height: 204.84%;
    }

    .drawing-img-card{
        position: relative;
        width: 230px;
        height: 390px; 
        border: 2px solid #A4A4A4;
        border-radius: 21px;

            img{
                width:100%;
                height:100%;
            }
    }
    .drawing-img-card:after{
        content: '';
        width:100%;
        height: 390px; 
        z-index: 100;
        position: absolute;
        top:0;
        left:0;
        background: linear-gradient(153.24deg, rgba(64, 140, 134, 0.609) 2.29%, rgba(49, 111, 106, 0.28) 99%);
        border: 2px solid #A4A4A4;
        border-radius: 21px;
    }
}