@use '../base/baseForward' as *;
@use '../utilities/_utilForward.scss' as *;

.main-nav{
    @include flex(row, space-between, flex-start);
    width:730px;
    height:100px;
    margin-top:40px;
    margin-left:120px;
}
.main-nav__logo{
    @include flex(row, center, center);
    height:100%;
    width:200px;
}
.main-nav__logo-link{
    font-size:rem($normalFontSize + 4);
    font-family: $specialFont;
    letter-spacing: $normalLetterSpacing;
}
.main-nav__menu{
    @include flex(row, space-around, center);
    width:67%;
    height:90%;
}
.main-nav__menu-link{
    font-size:rem($normalFontSize);     
    letter-spacing: $normalLetterSpacing - 0.11;
}