@use '../base/baseForward' as *;
@use '../utilities/_utilForward.scss' as *;

.main-nav{
    @include flex(row, space-between, flex-start);
    width:780px;
    height:100px;
    padding-top:20px;
    margin-left:90px;
}
.main-nav__logo{
    @include flex(row, center, center);
    height:100%;
    width:200px;
}
.main-nav__menu{
    @include flex(row, space-around, center);
    width:67%;
    height:90%;
}
.main-nav__menu-link{
    font-size:rem($normalFontSize);     
    letter-spacing: $smallLetterSpacing ;
}

/*Responsive to 1200px*/
@media  only screen and (max-width:1790px){
    .main-nav{
        @include flex(row, space-between, flex-start);
        width:630px;
        height:100px;
        padding-top:10px;
        margin-left:20px;
    }
    .main-nav__logo{
        @include flex(row, center, center);
        height:100%;
        width:180px;
    }
    .main-nav__menu{
        @include flex(row, space-around, center);
        width:67%;
        height:90%;
    }
    .main-nav__menu-link{
        font-size:rem($normalFontSize1200);     
        letter-spacing: $smallLetterSpacing1200 ;
    }
}