@use '../base/baseForward'as *;
@use '../utilities/utilForward'as *;

body{
    background-color: #E5E5E5;
}
/*Home section*/
.home__wave-img{
    width:60%;
    position: absolute;
    top:0;
    right:0;
    z-index: -1;
}

.home-menu-wrapper{
    @include flex(row, flex-end, flex-end);
    width: 43%;
    height: 550px;
}
.home-menu{
    @include flex(column, space-between, flex-start);
    width: unset;
    height: 380px;
}
.home-menu__heading {
    font-size: rem($bigTitleFontSize);
    letter-spacing: $normalLetterSpacing;
    line-height: 0.7;
    width: 593px;
}
.home-menu__text {
    font-size: rem($normalFontSize);
    letter-spacing: $normalLetterSpacing;
    line-height: 0.7;
    margin-left: 10px;
    line-height: 1.2;
    letter-spacing: $smallLetterSpacing;
    width: 593px;
}

.home-menu-button-wrapper{
    @include flex(row, space-between, center);
    width:100%;
    height:unset;
}

/*Stats section*/
.stats__wave-img{
    position: absolute;
    top:0;
    left:0;
    z-index: -1;
}

.stats-cards-wrapper-outer{
    @include flex(row, flex-end, flex-end);
    width:100%;
    height:900px;
}
.stats-cards-wrapper{
    @include flex(row, space-around, center);
    width:71%;
    height: 90%;
}

/*Card designs section*/
.card-designs{
    margin-top:130px;
}
.card-designs__text-wrapper{
    @include flex(column, space-around, center);
    width:100%;
    height:250px;
    margin-bottom:120px;
}
.card-designs__line{
    background-image: $lineGradient;
    width: 192px;
    height: 15px;
    border-radius: 25px;
}
.card-designs__title{
    font-size: rem($smallTitleFontSize);
    letter-spacing: $normalLetterSpacing - 0.13;
}
.card-designs__text{
    font-size: rem($normalFontSize);
    letter-spacing: $normalLetterSpacing - 0.09;
    width: 877px;
    text-align: center;
}

.playing-cards-wrapper{
    @include flex(row, space-evenly, center);
    width: 1450px;
    height:unset;
    margin: auto;
}

.card-designs__wave-img{
    position: absolute;
    top:130px;
    right:0;
    z-index: -1;
}
.playing-cards-wrapper__img--down{
    margin-top:46px;
}

/*Packs section*/
.packs-wrapper{
    position: relative;
    @include flex(row, center, center);
    width:100%;
    height:800px;
}
.button--procced-down{
    margin-top:60px;
}
.packs__img-background{
    position: absolute;
    left:0;
    bottom:-440px;
    z-index: -1;
}

/*Responsive to 1200px*/
@media  only screen and (max-width:1700px){
    .home-menu-wrapper{
        @include flex(row, flex-end, flex-end);
        width: 700px;
        height: 460px;
    }
    .home-menu{
        @include flex(column, space-between, flex-start);
        width: unset;
        height: 360px;
    }
    .home-menu__heading {
        font-size: rem($bigTitleFontSize1200);
        letter-spacing: $normalLetterSpacing1200;
        line-height: 0.7;
        width: 593px;
    }
    .home-menu__text {
        font-size: rem($normalFontSize1200);
        margin-left: 10px;
        line-height: 1.2;
        letter-spacing: $smallLetterSpacing1200;
        width: 593px;
    }  
    .home-menu-button-wrapper{
        @include flex(row, space-between, center);
        width:100%;
        height:unset;
    }

    .stats__wave-img{
        position: absolute;
        top:0;
        left:0;
        z-index: -1;
        width:550px;
    }
    
    .stats-cards-wrapper-outer{
        @include flex(row, flex-end, flex-end);
        width:100%;
        height:900px;
    }
    .stats-cards-wrapper{
        @include flex(row, space-around, center);
        width:71%;
        height: 90%;
    }
}
@media  only screen and (max-width:1470px){
    .stats-cards-wrapper-outer{
        @include flex(row, flex-end, flex-end);
        width:100%;
        height:800px;
    }
    .stats-cards-wrapper{
        @include flex(row, space-around, center);
        width:71%;
        height: 90%;
    }
    .stats__wave-img{
        position: absolute;
        top:0;
        left:0;
        z-index: -1;
        width:500px;
    }
    .card-designs{
        margin-top:20px;
    }
    .playing-cards-wrapper{
        @include flex(row, space-evenly, center);
        width: 1200px;
        height:600px;
        margin: auto;
        margin-top:-80px;
            img{
                transform: scale(0.9);
            }
    }
    .card-designs__wave-img{
        width:700px;
        position: absolute;
        top:130px;
        right:0;
        z-index: -1;
    }
    .packs__img-background{
        position: absolute;
        left:0;
        bottom:-400px;
        z-index: -1;
    }
    
}
@media  only screen and (max-width:1340px){
    .stats-cards-wrapper-outer{
        @include flex(row, flex-end, flex-end);
        width:100%;
        height:700px;
    }
    .stats-cards-wrapper{
        @include flex(row, space-around, center);
        width:71%;
        height: 90%;
    }
    .stats__wave-img{
        position: absolute;
        top:0;
        left:0;
        z-index: -1;
        width:450px;
    }
}
@media  only screen and (max-width:1320px){
    .packs__img-background{
        position: absolute;
        left:0;
        bottom:-350px;
        z-index: -1;
    }
}

//Responsive from 1200px to 993px
@media  only screen and (max-width:1200px){
    .home-menu-wrapper{
        @include flex(row, flex-end, flex-end);
        width: 660px;
        height: 400px;
    }
    .home-menu{
        @include flex(column, space-between, flex-start);
        width: unset;
        height: 330px;
    }
    .home-menu__heading {
        font-size: rem($bigTitleFontSize993);
        letter-spacing: $normalLetterSpacing1200;
        line-height: 0.7;
        width: 593px;
    }
    .home-menu__text {
        font-size: rem($normalFontSize993);
        margin-left: 10px;
        line-height: 1.2;
        letter-spacing: $smallLetterSpacing1200;
        width: 500  px;
    }
    .home-menu-button-wrapper{
        @include flex(row, space-between, center);
        width:500px;
        height:unset;
    }
    .home__wave-img{
        width:50%;
        position: absolute;
        top:0;
        right:0;
        z-index: -1;
    }
    
    .stats-cards-wrapper-outer{
        @include flex(row, flex-end, flex-end);
        width:100%;
        height:620px;
    }
    .stats-cards-wrapper{
        @include flex(row, space-around, center);
        width:80%;
        height: 100%;
    }
    .stats__wave-img{
        position: absolute;
        top:0;
        left:0;
        z-index: -1;
        width:400px;
    }

    .card-designs__text-wrapper{
        @include flex(column, space-around, center);
        width:100%;
        height:250px;
        margin-bottom:120px;
    }
    .card-designs__line{
        background-image: $lineGradient;
        width: 142px;
        height: 13px;
        border-radius: 25px;
    }
    .card-designs__title{
        font-size: rem($smallTitleFontSize993);
        letter-spacing: $normalLetterSpacing - 0.13;
    }
    .card-designs__text{
        font-size: rem($normalFontSize993);
        letter-spacing: $normalLetterSpacing - 0.09;
        width: 650px;
        text-align: center;
    }

    .playing-cards-wrapper{
        @include flex(row, space-evenly, center);
        width:90%;
        height:600px;
        margin-top:-160px;
            img{
                transform: scale(0.7);
            }
            img:nth-child(1){
                margin-right:-30px;
            }
            img:nth-child(3){
                margin-left:-30px;
            }
    }
    .card-designs__wave-img{
        width:500px;
        position: absolute;
        top:200px;
        right:0;
        z-index: -1;
    }

    .packs-wrapper{
        position: relative;
        @include flex(row, center, center);
        width:100%;
        height:800px;
    }
    .button--procced-down{
        margin-top:60px;
    }
    .packs__img-background{
        position: absolute;
        left:0;
        bottom:-100px;
        z-index: -1;
    }
}

//Responsive from 992px to 768px
@media  only screen and (max-width:900px){
    .home__wave-img{
        width:300px;
    }
    .home-menu-wrapper{
        @include flex(row, flex-end, flex-end);
        width: 640px;
        height: 360px;
    }
    .home-menu{
        @include flex(column, space-between, flex-start);
        width: unset;
        height: 330px;
    }
    .home-menu__heading {
        font-size: rem($bigTitleFontSize993);
        letter-spacing: $normalLetterSpacing1200;
        line-height: 0.7;
        width: 593px;
    }
    .home-menu__text {
        font-size: rem($normalFontSize993);
        margin-left: 10px;
        line-height: 1.2;
        letter-spacing: $smallLetterSpacing1200;
        width: 500  px;
    }
    .home-menu-button-wrapper{
        @include flex(row, space-between, center);
        width:500px;
        height:unset;
    }

    .stats-cards-wrapper-outer{
        @include flex(row, flex-end, flex-end);
        width:100%;
        height:600px;
    }
    .stats-cards-wrapper{
        @include flex(row, space-around, center);
        width:87%;
        height: 100%;
    }
    .stats__wave-img{
        position: absolute;
        top:0;
        left:0;
        z-index: -1;
        width:360px;
    }

    .card-designs__text-wrapper{
        @include flex(column, space-around, center);
        width:100%;
        height:250px;
        margin-bottom:120px;
    }
    .card-designs__line{
        background-image: $lineGradient;
        width: 142px;
        height: 13px;
        border-radius: 25px;
    }
    .card-designs__title{
        font-size: rem($smallTitleFontSize993);
        letter-spacing: $normalLetterSpacing - 0.13;
    }
    .card-designs__text{
        font-size: rem($normalFontSize993);
        letter-spacing: $normalLetterSpacing - 0.09;
        width: 650px;
        text-align: center;
    }
    .playing-cards-wrapper{
        @include flex(row, space-evenly, center);
        width:90%;
        height:600px;
        margin-top:-160px;
            img{
                transform: scale(0.65);
            }
            img:nth-child(1){
                margin-right:-90px;
            }
            img:nth-child(3){
                margin-left:-90px;
            }
    }
    .card-designs__wave-img{
        width:450px;
        position: absolute;
        top:200px;
        right:0;
        z-index: -1;
    }

    .packs-wrapper{
        position: relative;
        @include flex(row, center, center);
        width:100%;
        height:800px;
    }
    .button--procced-down{
        margin-top:60px;
    }
    .packs__img-background{
        position: absolute;
        left:0;
        bottom:-50px;
        z-index: -1;
    }
}

//Responsive from 767px to 576px
@media  only screen and (max-width:767px){
    .home__wave-img{
        display: none;
    }
    .home__wave-img{
        width:300px;
    }
    .home-menu-wrapper{
        @include flex(row, center, flex-end);
        width: 100%;
        height: 360px;
        margin-top: 80px;
    }
    .home-menu{
        @include flex(column, space-between, center);
        width: unset;
        height: 330px;
    }
    .home-menu__heading {
        font-size: rem($bigTitleFontSize993);
        letter-spacing: $normalLetterSpacing1200;
        line-height: 0.7;
        width: 593px; 
        text-align: center;
    }
    .home-menu__text {
        font-size: rem($normalFontSize993);
        margin-left: 10px;
        line-height: 1.2;
        letter-spacing: $smallLetterSpacing1200;
        width: 540px;
        text-align: center;
    }
    .home-menu-button-wrapper{
        @include flex(row, space-between, center);
        width:500px;
        height:unset;
    }

    .stats-cards-wrapper-outer{
        @include flex(row, flex-end, flex-end);
        width:100%;
        height:400px;
    }
    .stats-cards-wrapper{
        @include flex(row, space-around, center);
        width:94%;
        height: 100%;
    }
    .stats__wave-img{
        position: absolute;
        top:0;
        left:0;
        z-index: -1;
        width:300px;
    }

    .card-designs__text-wrapper{
        @include flex(column, space-around, center);
        width:100%;
        height:250px;
        margin-bottom:100px; 
        margin-top: 100px;
    }
    .card-designs__line{
        background-image: $lineGradient;
        width: 102px;
        height: 10px;
        border-radius: 25px;
       
    }
    .card-designs__title{
        font-size: rem($smallTitleFontSize993 - 6);
        letter-spacing: $normalLetterSpacing - 0.13;
    }
    .card-designs__text{
        font-size: rem($normalFontSize993 - 4);
        letter-spacing: $normalLetterSpacing - 0.09;
        width: 450px;
        text-align: center;
    }
    .playing-cards-wrapper{
        @include flex(row, space-evenly, center);
        width:90%;
        height:600px;
        margin-top:-160px;
            img{
                transform: scale(0.65);
            }
            img:nth-child(1){
                
                margin-right:0px;
            }
            img:nth-child(2){
                display: none;
            }
            img:nth-child(3){
                display: none;
            }
    }
    .card-designs__wave-img{
        width:450px;
        position: absolute;
        top:200px;
        right:0;
        z-index: -1;
    }

    .packs-wrapper{
        position: relative;
        @include flex(row, center, center);
        width:100%;
        height:800px;
    }
    .button--procced-down{
        margin-top:20px;
    }
    .packs__img-background{
        position: absolute;
        left:0;
        bottom:-50px;
        height: 700px;
        width:100%;
        z-index: -1;
    }
}