@use '../base/baseForward'as *;
@use '../utilities/utilForward'as *;

/*Home section*/
.home-wave-img{
    position: absolute;
    top:0;
    right:0;
    z-index: -1;
}

.home-menu-wrapper{
    @include flex(row, flex-end, flex-end);
    width: 43%;
    height: 550px;
}
.home-menu{
    @include flex(column, space-between, flex-start);
    width: unset;
    height: 380px;
}
.home-menu__heading {
    font-size: rem($bigTitleFontSize);
    letter-spacing: $normalLetterSpacing;
    line-height: 0.7;
    width: 593px;
}
.home-menu__text {
    font-size: rem($normalFontSize);
    letter-spacing: $normalLetterSpacing;
    line-height: 0.7;
    margin-left: 10px;
    line-height: 1.2;
    letter-spacing: $smallLetterSpacing;
    width: 593px;
}

.home-menu-button-wrapper{
    @include flex(row, space-between, center);
    width:100%;
    height:unset;
}

/*Stats section*/
.stats-wave-img{
    position: absolute;
    top:0;
    left:0;
    z-index: -1;
}

.stats-cards-wrapper-outer{
    @include flex(row, flex-end, flex-end);
    width:100%;
    height:900px;
}
.stats-cards-wrapper{
    @include flex(row, space-around, center);
    width:71%;
    height: 90%;
}